<div class="top_image">
  <div class="top_text text-center">
    <h1 class="main_title">「<span class="text_black">animal_blog</span>」</h1>
    <h4 class="pt-3">とっておきのシーンから悩みまで<br>
    ペットに関わることを共有できるブログサイトです。<br>
    家族とのかけがえのない時間をより良いものに。
    </h4>
    <%= link_to "今すぐ始める", new_user_registration_path, class: 'btn btn-primary'%>
  </div>
</div>
