<%= form_with(model:[post, post_comment]) do |f| %>
  <div class="comment_form">
    <%= f.text_area :comment, rows:'5', cols:'100', placeholder:"コメントを書く" %>
  </div>
  <div class="submit_bottun text-end">
    <%= f.submit "送信する"%>
  </div>
<% end %>