<% post.post_comments.each do |post_comment| %>
  <div class="row comment_box">
    <div class="col-4"></div>
    <div class="col-8 comment_user_name ">
      <div>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <h5><%= post_comment.user.name %>:</h5>
      </div>
      <div class="comment text-break">
        <%= post_comment.comment %>
        <% if post_comment.user == current_user %>
          <%= link_to "削除する", post_post_comment_path(post_comment.post,post_comment), method: :delete, remote: true %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>